@charset "utf-8";
/* *******************************************************
 * filename : board_responsive.css
 * description : 일반 게시판, 뷰, 쓰기 등 게시판에 관련된 반응형 스타일 CSS
 * date : 2018-02-06
******************************************************** */
/* ******************   게시판 :: 공통  ********************** */
@media all and (max-width:800px) {
    /* 공통 :: 버튼  */
    .cm-btn-controls button, .cm-btn-controls a {
        width: 120px;
        height: 36px;
        font-size: 14px;
    }
    .cm-btn-controls a {
        line-height: 36px;
    }
    /* 공통 :: NO LIST */
    .bbs-no-list {
        padding: 60px 0;
        font-size: 14px;
        font-weight: 500;
    }
}
@media all and (max-width:480px) {
    /* 공통 :: 버튼  */
    .cm-btn-controls {
        padding-top: 10px;
    }
    .cm-btn-controls button, .cm-btn-controls a {
        width: 100%;
        height: 32px;
        font-size: 14px;
        margin-right: 0;
        margin-left: 0;
    }
    .cm-btn-controls a {
        line-height: 32px;
    }
    /* 공통 :: SEARCH BOX */
    .board-search-box {
        padding: 15px;
    }
    .board-search-box select {
        width: 30%;
    }
    .board-search-box .search-word {
        width: 50%;
        text-indent: 4px;
        font-size: 13px;
    }
}
/* ******************   게시판 :: 기본리스트 ********************** */
@media all and (max-width:1220px) {
    /* 게시판 :: 기본리스트 :: 레이아웃 */
    .bbs-list-row .column, .bbs-subject-con .bbs-subject-txt {
        font-size: 13px;
    }
}
@media all and (max-width:800px) {
    /* 게시판 :: 기본리스트 :: 레이아웃 */
    .bbs-list-tbl {
        border-top: 1px solid #d7d7d7;
    }
    .bbs-list-tbl, .bbs-list-row, .bbs-list-row .column {
        display: block;
    }
    .bbs-list-head {
        display: none;
        position: absolute;
        top: -1000em;
        left: -1000em;
    }
    .bbs-list-row {
        position: relative;
        width: 96%;
        padding: 15px 2%;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
    }
    .bbs-list-row .column {
        clear: both;
        border-bottom: 0;
        text-align: left;
        padding: 3px 0;
        font-size: 12px;
    }
    /* 게시판 :: 기본리스트 :: 항목 */
    .bbs-relative-row {
        padding-top: 40px
    }
    .bbs-list-row .column.bbs-no-data {
        display: none;
    }
    .bbs-list-row .column.bbs-block {
        clear: both;
        width: 100%;
    }
    .bbs-list-row .column.bbs-inline {
        display: inline-block;
        width: auto;
        margin-right: 4%;
    }
    .bbs-list-row .column.bbs-absolute {
        position: absolute;
        top: 10px;
        left: 2%;
    }
    .bbs-list-row .column:not(.bbs-title):not(.bbs-no-data):before {
        padding-right: 5px;
        color: #aaa;
        content: attr(data-label);
    }
    .bbs-list-row .column[data-label="no"]:before {
        padding-right: 0;
        display: none;
    }
    .bbs-subject-con .bbs-subject-txt {
        font-size: 14px;
        font-weight: 500;
    }
    .bbs-list-row .reply-state {
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        text-align: center;
    }
    .bbs-subject-con .comment-num {
        display: none
    }
    .bbs-list-row .bbs-comment-data {
        display: inline-block;
    }
}
/* ******************   게시판 :: 뷰페이지  ********************** */
@media all and (max-width: 800px) {
    .bbs-view-title .bo_v_tit {
        font-size: 16px;
        line-height: 32px
    }
    .bbs-view-info {
        font-size: 11px;
        text-align: left
    }
    .bbs-view-info strong {
        margin: 0 10px 0 0;
    }
    /* 게시판 :: 뷰 :: 댓글 */
    .bbs-view-comment .btn-style01 {
        clear: both;
        width: 100%;
        margin: 10px 0 20px;
    }
}
/* ******************   게시판 :: 쓰기, 문의폼  ********************** */
@media all and (max-width:800px) {
    /* 게시판 :: 쓰기, 문의폼 :: 작성영역 */
    .bbs-write-tbl tr, .bbs-write-tbl th, .bbs-write-tbl td {
        display: block;
        padding: 0;
        width: 100% !important;
        border-bottom: 0;
        text-indent: 0;
    }
    .bbs-write-tbl th {
        font-size: 13px;
        padding-top: 10px;
        font-weight: 600;
        display: none
    }
    .bbs-write-tbl td {
        padding: 10px 0;
        border-bottom: 1px solid #071a34;
    }
    .bbs-write-tbl td .write-input, .bbs-write-tbl td .write-select, .bbs-write-tbl td .write-textarea {
        width: 100%;
        height: auto;
        padding: 10px 0;
        border: 0;
        background-color: #192942;
        border: 1px solid #071a34;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
    }
    .bbs-write-tbl td .write-textarea {
        height: 80px;
    }
    .bbs-write-tbl td .write-sub-txt, .bbs-write-tbl td .write-sub-txt2 {
        display: block;
        margin-left: 0;
        margin-top: 5px;
        text-align: right;
        font-size: 12px;
    }
    .bbs-write-tbl .file_input label {
        margin-top: 5px;
        margin-left: 0px;
        width: 100%;
    }
    .bbs-write-tbl .file_input input[type=text] {
        display: block;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
    }
    /* 게시판 :: 쓰기, 문의폼 :: 기타 */
    .bbs-write-tbl .input-check {
        padding: 5px 0;
    }
    .bbs-write-tbl .input-check span {
        margin-right: 15px;
    }
    .email-fieldset .write-input {
        width: 40% !important;
    }
    .email-fieldset .write-select {
        width: 100% !important;
        margin-top: 5px;
    }
    .bbs-write-tbl .address-btn {
        min-width: auto;
        font-size: 12px;
        margin-left: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
    }
}
/* ******************   게시판 :: FAQ 게시판 ********************** */
@media all and (max-width:800px) {
    /*  FAQ 게시판 */
    .faq-list-con .faq-item dt {
        padding-left: 45px;
    }
    .faq-list-con .faq-item dt .faq-title {
        font-size: 14px;
        line-height: 18px;
    }
    .faq-list-con .faq-item dt .arrow {
        top: 12px;
    }
    .faq-list-con .faq-item dd {
        padding: 15px;
    }
    .faq-list-con .faq-item dt .question-icon, .faq-list-con .faq-item dd .answer-icon {
        top: 14px;
        left: 15px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 11px;
    }
    .faq-list-con .faq-item dd .answer-icon {
        display: block;
        position: static;
        margin-bottom: 10px;
    }
    /* FAQ :: 카테고리 */
    .faq-list-con.faq-category-list-con dl dt {
        padding-top: 40px;
    }
    .faq-list-con.faq-category-list-con dl dt .faq-category {
        position: absolute;
        top: 13px;
        left: 45px;
        right: 30px;
        width: auto;
        margin-right: 0;
        line-height: 22px;
    }
    .faq-list-con.faq-category-list-con dl dt .faq-title {
        display: block;
        width: 100%;
    }
    .faq-list-con.faq-category-list-con dl dt .arrow {
        top: 23px;
    }
}
/* ******************  추가되는 게시판 스타일은 아래에 작성해 주세요 (퍼블리셔담당)  ********************** */
@media all and (max-width: 800px) {
    .bbs-list-Tbl > ul {
        display: block !important;
    }
    .bbs-list-Tbl > ul > li {
        display: block !important;
        overflow: hidden;
        border-bottom: 1px solid #071a34;
        position: relative;
    }
    .bbs-list-Tbl > ul > li > div {
        display: block;
        border-bottom: 0px !important;
        padding: 0px;
    }
    .bbs-list-Tbl > ul > li.bbs-list-TblTh > div {
        padding: 6px 0;
        font-size: 12px;
    }
    .bbs-list-Tbl > ul > li.bbs-list-TblTd {
        padding: 10px 0px 10px;
        text-align: left;
    }
    .bbs-list-Tbl > ul > li.bbs-list-TblTd > div {
        padding: 0px;
        border-bottom: 0px;
    }
    .bbs-list-Tbl > ul > li.bbs-list-TblTd .td_subject {
        max-width: 790px
    }
    .bbs-list-Tbl > ul > li.bbs-list-TblTd .td_subject .bo_tit a {
        font-size: 1.2em;
    }
    .bbs-list-Tbl > ul > li.bbs-list-TblTd .td_subject .bo_tit_70 a {
        font-size: 1.2em;
        margin-left: 70px
    }
    .bbs-list-Tbl > ul > li > div.mvInlineN {
        display: none;
    }
    .bbs-list-Tbl > ul > li > div.mvInlinev {
        display: inline-block;
        width: auto !important;
        padding: 0 3px;
        font-size: 11px;
    }
    .bbs-list-Tbl > ul > li > div.mvInlinev i {
        display: inline-block;
        margin-left: 3px;
    }
    .bbs-list-Tbl > ul > li > div.mvInlinev:before {
        content: " / ";
        color: #ddd;
    }
    .bbs-list-Tbl > ul > li > div.mvInlinev.td_name:before {
        content: " "
    }
    .bbs-list-Tbl > ul > li > div.mvInlinev.td_name {
        padding-left: 2px;
    }
    .bbs-list-Tbl > ul > li > div.mvInlinev.td_site:before {
        content: " "
    }
    .bbs-list-Tbl > ul > li > div.mvInlinev.td_site {
        padding-left: 2px;
    }
    .bbs-list-Tbl > ul > li > div.mvInlinev.td_group3:before {
        content: " "
    }
    .bbs-list-Tbl > ul > li > div.mvInlinev.td_group3{
        padding-left: 2px;
    }
    .bbs-list-Tbl > ul > li > div.td_subject {
        display: block;
    }
    .bbs-list-Tbl > ul > li > div.td_subject a {
        padding: 0 0 8px 0;
    }
    .bbs-list-Tbl > ul > li > div.td_subject a.bo_cate_link {
        display: inline-block;
        padding-top: 8px;
    }
    .bbs-list-Tbl > ul > li > div.td_chk {
        position: absolute;
        right: 0px;
        top: 0px;
    }
	.bbs-list-Tbl > ul > li > div.td_btn {
        position: absolute;
		float: right;
        right: 0px;
        top: 26px;
    }
    .bbs-list-Tbl > ul > li > div.td_group {
        display: inline-block;
        text-align: left;
        background-color: transparent !important;
    }
    .bbs-list-Tbl > ul > li > div.td_group span {
        position: relative;
        display: inline-block;
        padding: 3px 5px 2px;
        text-align: center;
        background-color: #eb8500;
        vertical-align: middle;
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
    }
    .bbs-list-Tbl > ul > li.bbs-list-TblTd .td_subject .bo_tit a {
        padding-top: 12px;
    }
    .onlyMvV {
        display: inline-block;
        margin-left: -5px;
    }
}
/* ******************   게시판 :: 조회 ********************** */
@media all and (max-width: 1220px) {
    #bo_sch {
        max-width: 80%;
    }
    .search-group label {
        margin-right: 5px
    }
    .search-group span {
        width: 100%;
    }
}
@media all and (max-width:800px) {
    .search-group a {
        width: 60px
    }
	.search-group span { margin-right: 10px; }
    #bo_sch .select {
        width: 16%;
    }
    #bo_sch .select_title {
        width: 16%;
    }
    #bo_sch .input_title {
        width: 24%;
    }
}
@media all and (max-width:640px) {
    .search-group span {
        margin-right: 0px;
        margin-bottom: 10px;
       
    }
    .search-group label {
        width: 30%
    }
    #bo_sch span {
        display: block;
    }
    #bo_sch .select {
        width: 70%;
        margin-bottom: 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -o-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
    }
    #bo_sch .select_title {
        width: 30%;
    }
    #bo_sch .input_title {
        width: 52%;
    }
	 #bo_sch .sch_item{ display: none;
	
	}
}
@media all and (max-width:568px) {
	.search-group span { margin-right: 0px;  }
	#bo_sch {
        max-width: 76%;
    }
	  .search-group label {
        display: none;
    }

	
    #bo_sch .select {
         display: none;
    }
    #bo_sch .select_title {
         display: none;
    }
    #bo_sch .input_title {
        width: 60%;margin-left: 0px;
		 -webkit-border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -o-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
    }

    
}
@media all and (max-width: 320px) {

   #bo_sch span { width: 280px;}
 /*    #bo_sch span a {
        display: block;
        width: 100%;
        height: 32px;
        line-height: 32px;
        border: 1px solid #071a34;
        color: #fff;
        font-size: 16px;
        margin: 5px 0px;
        cursor: pointer;
        vertical-align: top;
        text-align: center;
        font-weight: 400;
        -webkit-border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -o-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
        background-color: #2573a8;
    }*/
	
    #bo_sch .select {
         display: none;
    }
    #bo_sch .select_title {
         display: none;
    }
    #bo_sch .input_title {
        width: 80%;
		 -webkit-border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -o-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
    }
	.search-group a {
    display: block;
    width: 280px; margin-left: 0;

	float: left;
}
}