@charset "utf-8";
/* CSS Document */
/* For Screen Reader */


/* 공통 :: 버튼  */
.btn-controls {
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
	
}
.btn-controls.btn-align-left {
    text-align: left;
}
.btn-controls.btn-align-right {
    text-align: right;
}
.btn-controls .left-btn-controls {
    float: left;
}
.btn-controls .right-btn-controls {
    float: right;
}
.btn-controls button, .btn-controls a {
    display: inline-block;
    width: 130px;
    height: 38px;
    border: 0;
    color: #fff;
    background-color: #000;
    font-size: 15px;
    margin: 0 2px 5px 2px;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.btn-controls a {
    line-height: 42px;
}
.btn-controls.btn-long-controls button, .btn-controls.btn-long-controls a {
    width: 100%;
    height: 50px;
    margin: 0px;
    margin-bottom: 5px;
}
.btn-controls.btn-long-controls a {
    box-sizing: border-box;
    line-height: 50px;
}
.btn-controls .btn-style01 {
    background-color: #2573a8;
	border: 1px solid #071a34;
}
.btn-controls .btn-style02 {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.30);
}
.btn-controls .btn-style03 {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #888;
    color: #222;
}


/*-- POPUP common style  ======================================================================================================================== --*/
.layerpop-cont{  }
#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: none;
}
.layerpop {
    display: none;
    z-index: 10000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #1a283e;
}
.layerpopsitemap {
    display: none;
    z-index: 10000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #1a283e;
    cursor: move;
}
.layerpopuserinfo {
    display: none;
    z-index: 10000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #1a283e;
}
.layerpop_area .title {
    padding: 10px 10px 10px 10px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: #1a283e;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    cursor: move;
}
.layerpop_area .layerpop_close {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
}
.layerpop_area .layerpop_close:hover {
    cursor: pointer;
}
.layerpop_area .content {
   
    margin: 15px 25px;
   
}

/* ******************   POPUP :: 쓰기폼  ********************** */
/* 게시판 :: 쓰기, 문의폼 :: 작성영역 */
.layerpop-write-con {
    padding: 0px;
	
}
.layerpop-write-tbl caption{ display: none; width: 0; height: 0}
.layerpop-write-tbl {
    width: 100%;
    border-top: 0px solid #071a34;
}
.layerpop-write-tbl th, .layerpop-write-tbl td {
    display: block;
    width: 100% !important;
    text-indent: 0;
    border-bottom: 0px solid #071a34;
}
.layerpop-write-tbl th {
     color: #77b3d3;
    font-size: 13px;
    text-align: left;   
    padding: 25px 0px 10px ;
    font-weight: 600;
    
}

.layerpop-write-tbl td { padding: 0 0 0px 0; border: 0px solid #ffff00}
.layerpop-write-tbl .write-input, .layerpop-write-tbl .write-select, .layerpop-write-tbl .write-textarea {
    height: 34px;
    border: 0px;
    width: 100%;
     background-color: #1e2e47;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
    font-size: 15px;
    vertical-align: middle;
}
.layerpop-write-tbl .write-input:focus {
    border-color: #77b3d3;
}
.layerpop-write-tbl .write-input {
    text-indent: 5px;
}
.layerpop-write-tbl .write-select {
    height: 38px; 
    
}
.layerpop-write-tbl .write-textarea {
    width: 100%;
    height: 200px;
    resize: none;
    color: #fff;
    text-indent: 10px;
    padding: 10px 0;
}
.layerpop-write-tbl .file_input label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 100px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.30);
    color: #fff;
    text-align: center;
    line-height: 34px;
    margin-left: 2px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.layerpop-write-tbl .file_input label input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.layerpop-write-tbl .file_input input[type=text] {
    display: inline-block;
    height: 34px;
    border: 0px;
    width: 50%;
    background-color: #192942;
    border: 1px solid #071a34;
    font-size: 15px;
    vertical-align: middle;
    text-indent: 10px;
}

.layerpop-write-tbl .hypen {
    margin: 0 5px;
}
.layerpop-write-tbl .info_text {
    font-size: 11px; color: #fff;font-weight: 400; padding-left: 5px
}

.layerpop-write-tbl td .td_button {  display: inline-block;
    width: 80px;
    height: 38px;
	
    border: 1px solid #071a34;
    background-color: #2573a8;
    
    font-size: 15px;
    margin: 0 0px 0px 4px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;}

 /* 게시판 :: 쓰기, 문의폼 :: 작성영역 */






/* 라디오 버튼 */
/* -------- RADIO CUSTOM 01 -------- */
.custom-radio{overflow: hidden;}
.custom-radio span{width: 30%; height: 34px; float: left;}
.custom-radio .radio-item{display:inline-block; vertical-align:middle;}
.custom-radio .radio-item:first-child{margin-left:0;}
.custom-radio .radio-item input[type="radio"]{display:none;}
.custom-radio .radio-item input[type="text"]{margin-left: 20px;}
.custom-radio .radio-item label{display:inline-block; position:relative; padding-left:25px; padding-top: 5px; color:#fff; font-size:15px; letter-spacing:-0.5px; line-height:18px; }
.custom-radio .radio-item label::before{content:""; position:absolute; top:6px; left:0px; width:14px; height:14px; border:1px solid #818181;  -webkit-border-radius:14px;-moz-border-radius:14px;-o-border-radius:14px;border-radius:14px;}
.custom-radio .radio-item label::after{display:none; content:""; position:absolute; top:9px; left:3px; width:10px; height:10px; background:#77b3d3; -webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;}
.custom-radio .radio-item input[type="radio"]:checked + label::before{border-color:#818181}
.custom-radio .radio-item input[type="radio"]:checked + label::after{display:block;}


