@charset "utf-8";
/* *******************************************************
 * filename : layout.css
 * description : 전체 레이아웃 CSS
 * date : 2018-01-16
******************************************************** */


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700'); /*poppins*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500'); /*Rubik*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900'); /* Noto KR */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); /* lato */
/* layout */
body, table, th, td, button, select, input {
	font-family:'Lato', 'Poppins', "맑은고딕", "Malgun Gothic", Arial, sans-serif;
	font-size:13px;
	color:#fff;
	-webkit-text-size-adjust:none;
}

body { background-color: #16263f; }
#wrap {overflow:hidden; width:100%; min-width:320px; position:relative; } /* min-width 홈페이지 컨텐츠 가로값에 맞게 변경 */

.font-late{font-family: 'Lato', 'Poppins', "맑은고딕", "Malgun Gothic", Arial, sans-serif;}

/* ****************** 공통클래스 ********************** */
.area{ max-width:1400px; margin:0px auto; padding:0 15px;} /* width 홈페이지 컨텐츠 가로값에 맞게 변경 */
.area-box{ max-width:1400px; margin:0px auto;}
.rubik {font-family: 'Rubik', 'Poppins', 'Noto Sans KR', "맑은고딕", "Malgun Gothic","돋움", Dotum, Arial, sans-serif;}
.noto {font-family: 'Noto Sans KR', sans-serif ! important;}
.clearfix{*zoom:1;}
.clearfix:after{clear:both; display:block; content:"";}
.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.trans200{-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;}
.trans300{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;}
.trans400{-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s;}
.trans500{-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s;}
.material-icons{line-height:inherit; color:inherit; vertical-align:middle;}
.text-ellipsis{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.table-layout{display:table; width:100%; height:100%; }
.table-cell-layout{display:table-cell; width:100%; height:100%; vertical-align:middle;}
.over-img{overflow:hidden;}
.over-img img{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
a:hover .over-img img{
	-ms-transform: scale(1.1) rotate(0.02deg);
	  -o-transform: scale(1.1) rotate(0.02deg);
	  -moz-transform: scale(1.1) rotate(0.02deg);
	  -webkit-transform: scale(1.1) rotate(0.02deg);
	  transform: scale(1.1) rotate(0.02deg);
}
.sound_only{display: none}

/* ****************** HEADER ********************** */
#header {position: absolute;width: 100%; top: 0; left: 0; z-index: 99; background-color:  rgba(22,38,63,0.95);}
#gnbWrap {position: relative; height: 80px;}

/* ****************** HEADER -로고/유틸박스- ********************** */
#HeaderInner {max-width:1460px; margin:0px auto;}
.logo {position: relative; display: inline-block; left: 20px; z-index: 2; padding:18.5px 0;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.logo a {display: inline-block;}
.logo a img {}
.header-util-box {position: relative;top: 30px; right: 32px; z-index: 9; float: right}

.header-lang {display: inline-block; vertical-align: middle;}
.header-lang>span {display: inline-block; margin-left: 15px; }
.header-lang>span:first-child {margin-left: 0;}
.header-lang>span>a {color: rgba(255,255,255,0.4); font-weight: 500; font-size: 13px;border: 1px solid rgba(255,255,255,0.5); border-radius: 12px; padding: 3px 10px; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.header-lang>span>a.on,.header-lang>span>a:hover {color: rgba(255,255,255,1);border: 1px solid rgba(255,255,255,1); 	}


.sitemap-line-btn {display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin-left: 30px;}
.sitemap-line-btn .line {display: block; width: 100%; height: 1px; background-color: #fff; margin-bottom: 4px;}
.nav-open-btn .line {position: relative; -webkit-transform: translateX(-10);-moz-transform: translateX(0);-ms-transform: translateX(0);-o-transform: translateX(0);transform: translateX(0); display: block; width: 100%; height: 2px; background-color: #fff; margin-bottom: 4px; opacity: 1; -webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s}
.sitemap-line-btn .line.line1, .nav-open-btn .line.line1 {margin-top: 4px;}

/* ****************** HEADER -메인/서브 메뉴- ********************** */
#gnb {position: absolute; top: 0; left: 0; width: 100%; text-align: center; z-index: 1;}
#gnb>ul { max-width: 780px; margin: 0 auto;}
#gnb>ul>li {position: relative; float: left; width: 20%; height: 100%;}
#gnb>ul>li.dep-1:after {content: ''; position: absolute; opacity: 0; filter:Alpha(opacity=0); bottom: 0; left: 0; width: 100%; height: 0px; background-color: #fff; z-index: -1;}
#gnb>ul>li.dep-1.active:after {opacity: 1; opacity: 1; filter:Alpha(opacity=100);-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;}
#gnb>ul>li:hover {background-color: #213753;}
#gnb>ul>li>a {display: block; font-size: 17px; color: #fff;  font-family: 'Lato', 'Poppins', "맑은고딕", "Malgun Gothic", Arial, sans-serif; line-height: 80px;}
.gnb-2dep>li>a {display: block; color: #fff; padding: 13px 0;}







/* ****************** HEADER -모바일- ********************** */
.nav-open-btn {display: none;vertical-align: middle; width: 20px; height: 20px; margin-left: 40px;}
#gnbM {display: none;}
#navigation>li>a {display: block;}
.quick-menu-m li > a > i {margin-right: 20%; font-size: 40px; vertical-align: middle;}

@media all and (max-width:480px){
	.quick-menu-m li > a > i {margin-right: 12%;}
}

/* *****************//* HEADER ********************** */


/* ****************** FOOTER ********************** */
#footer{position: relative; background-color: #16263f; border-top: 1px solid #071a34}
#footer:before {position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 85px; background-color: #f5f5f5;}
#footer.sub:before {background-color: #16263f;}
#footerInner{}
#footerTop {position:relative; text-align: center; padding: 21px 0; /* border-top: 1px solid #e5e5e5; */}
#footerTop .area-box {position: relative;}
/* Footer :: TOP버튼 */
.to-top-btn{
	position:fixed; bottom:-100px; right:30px; display:block; width:40px; height:40px; background-color:#071a34; text-align:center; line-height:40px; color:rgba(255,255,255,0.35); z-index:99;
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s;-ms-transition:all 0.6s;transition:all 0.6s;
    -webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%; 
}
.to-top-btn.fixed {bottom:80px; opacity:1.0;filter:Alpha(opacity=100);}

/* Footer :: 푸터로고 */

.copyright { color:rgba(255,255,255,0.35); text-align: center; font-size: 12px; padding-top: 10px}


/* ****************** SUB LAYOUT ********************** */
#middleArea {background-color: #1e2e47;}
/*  SUB LAYOUT :: 비주얼 */
#visual {position: relative; width:100%; height:200px; background-size:cover !important;}
#visual:after {position: absolute; content: ''; top: 100px; left: 5%; right: 5%; bottom: 0; border:1px solid rgba(255,255,255,0)}
#visual .visual-txt-con{ display:none;position:relative; text-align:center; height:100%; letter-spacing:-0.5px; color:#fff;}
#visual .visual-tit{font-weight: 300; font-size: 42px; line-height: 46px; letter-spacing: -0.5px; padding-top: 120px;}
#visual .visual-sub-txt{font-weight: 600; font-size: 13px; line-height: 30px; letter-spacing: 2.5px;}

#visual:after {content: ''; position: absolute; top: 100px; right: 5%; bottom:0 ; left: 5%;margin: 0 auto;width: 89.6%;}
/*  SUB LAYOUT :: 비주얼 (스타일02) */
#visual.visual-style02 .visual-txt-con{text-align:left;}
#visual.visual-style02 .visual-tit{padding-top:150px}
/*  SUB LAYOUT :: 서브메뉴(스타일1) */
#sideMenuM{display:none}
#sideMenu {display:none; position: relative; z-index: 1; width:100%; height:60px; background-color: rgba(22,38,63,0.55); margin-top: -60px; border-top: 1px solid #071a34; border-bottom: 1px solid #071a34;}
#sideMenu .side-menu-inner{text-align:center;}
#sideMenu .side-menu-inner > ul{position: relative; *display:inline;*zoom:1;}
#sideMenu .side-menu-inner > ul > li {position: relative;display: inline-block; width: 15.5%;}
#sideMenu .side-menu-inner > ul > li > a{display: block; color:#fff; font-size:18px; letter-spacing:0.25px; height: 60px; font-weight:400;}
#sideMenu .side-menu-inner > ul > li > a span{display: table; width: 100%; height: 60px;}
#sideMenu .side-menu-inner > ul > li > a span em{display: table-cell; vertical-align: middle; line-height: 1.2;}
#sideMenu .side-menu-inner > ul > li > a:hover {color:#2573a8;}
#sideMenu .side-menu-inner > ul > li.on > a{color:#ffffff;}



/*  SUB LAYOUT :: 상단정보 (공통) */
#contentInfoCon{position:relative; padding:27px 0 0px;  max-width:1400px; margin:0px auto;}
#contentInfoCon .content-tit{color:#ffffff; font-size:22px; font-weight: 500;}
#contentInfoCon .content-sub-tit{color:#888; font-weight:300; padding-top:20px; font-size:16px; letter-spacing:-0.8px; word-break:keep-all; }
/*  SUB LAYOUT :: 상단정보(스타일01) */
#contentInfoCon.content-info-style01{text-align:left; padding-left:15px; }
/* #contentInfoCon.content-info-style01:after{position:absolute; left:50%; bottom: 31%; content:""; width:20px; height:2px; margin-left:-10px; background-color:#ffffff}*/




/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
#content{padding-bottom: 20px;}

/* ****************** MODAL LAYERPOPUP ********************** */
/* modal layer */
.modal-fixed-pop-wrapper{display:none; overflow-y:scroll; overflow-x:hidden;  position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999; background:#000; background:rgba(0,0,0,0.7);}
.modal-fixed-pop-inner{position:absolute; display:table; width:100%; height:100%; text-align:center;}
.modal-inner-box{ position:relative; display:table-cell; vertical-align:middle;}
.modal-loading{position:absolute; top:50%; left:50%; margin:-25px 0 0 -25px; z-index:10000;}
.modal-inner-content{text-align:left;}
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 8px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
/* modal layer content */
.footer-modal-content{position:relative; width:96%; max-width:1000px; margin:20px auto; background-color:#1a283e; border:1px solid rgba(255,255,255,0.1); }
.footer-modal-content h1{height:60px; line-height:60px; font-size:24px; font-weight:600; letter-spacing:-0.5px; text-align:center; padding:0; background-color:#1a273e; color:#fff; border-bottom:1px solid rgba(255,255,255,0.1);}
.modal-close-btn{position:absolute; top:11px; right:10px; color:#fff; }
.modal-close-btn i{font-size:38px;}
.modal-close-btn i:hover {color:#fff}
.footer-inner-box{padding:30px; }
.footer-inner{padding:20px; height:400px; overflow-y:auto; overflow-x:hidden; border:1px solid #fff; }

/* 사이트맵 */
.sitemap-wrapper{padding:30px 0px;  }
.sitemap-wrapper > ul{overflow:hidden;}
.sitemap-wrapper > ul > li{float:left; width:25%; text-align:center;}	/* 메뉴 갯수에 맞게 %로 계산, 두줄로 들어갈 경우 height값 설정 */
.sitemap-wrapper.menu4 > ul > li{width:25%;}
.sitemap-wrapper.menu6 > ul > li{width:16.6%;}
.sitemap-wrapper.menu7 > ul > li{width:14.2%;}
.sitemap-wrapper > ul > li > h2{color: #77b3d3; margin:0 4% 20px 4%; padding-bottom:20px; font-size:16px; border-bottom:1px solid rgba(255,255,255,0.15); letter-spacing:-1.0px; margin-bottom:20px; font-weight:500;}
.sitemap-wrapper > ul > li .sitemap-2dep {padding:0 4%; }
.sitemap-wrapper > ul > li .sitemap-2dep a{display:block; padding:10px 0; color: rgba(255,255,255,0.65); font-size:13px; font-weight:400; line-height:1.2em;border: 1px solid rgba(255, 255, 255, 0.0)}
.sitemap-wrapper > ul > li .sitemap-2dep a:hover{color:#fff;  background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.30); text-decoration:none;}

@media all and ( max-width: 800px ){
	/* modal layer content */
	.footer-modal-content h1{height:46px; line-height:46px; font-size:18px; text-align:left; padding:0 15px}
	.modal-close-btn i{font-size:24px}
	.footer-inner-box{padding:15px}
	.footer-inner{padding:10px; height:250px;}
	/* 사이트맵  */
	.sitemap-wrapper{padding:15px}
}


/* Header :: 검색버튼 */
.header-search-box{position:relative; float:left;z-index:1000;}
.header-search-open-btn, .header-search-close-btn, .header-search-btn{width:100px; height:100px;}
.header-search-open-btn{ color:#fff; font-size:24px }

/* Header :: 검색영역 */
.header-search-overlay{position:fixed; top:0px; right:0px;  left:0px; height:100%; background-color:#333; background-color:rgba(0,0,0,0.8); visibility:visible; top:-100%;     -webkit-transition:0.5s top ease-in-out;-moz-transition:0.5s top ease-in-out;-o-transition:0.5s top ease-in-out;-ms-transition:0.5s top ease-in-out;transition:0.5s top ease-in-out }
.header-search-inner{overflow:hidden; max-width:1100px; height:86px; border-bottom:1px solid #fff; margin:0px auto; opacity:0;filter:Alpha(opacity=0);    -webkit-transition:all 0.4s 0.4s;-moz-transition:all 0.4s 0.4s;-o-transition:all 0.4s 0.4s;-ms-transition:all 0.4s 0.4s;transition:all 0.4s 0.4s}	
.header-search-inner .header-search-inner-box{height:80px; padding-right:200px; position:relative; border:0;  }
.header-search-inner .header-search-word{height:80px; width:100%; vertical-align:top; background-color:transparent; border:0; color:#fff; font-weight:300; font-size:24px; }
.header-search-inner .header-search-word::placeholder{line-height: 80px;}
.header-search-inner .header-search-btn-controls{position:absolute; top:0px; right:0px; color:#fff; }
.header-search-inner .header-search-btn-controls span{vertical-align:middle; display:inline-block; font-size:15px; letter-spacing:2px; font-weight:400; }
.header-search-inner .header-search-btn-controls i{font-size:48px; vertical-align:middle; color:#fff;}
.header-search-inner .header-search-btn{width:86px; height:86px;}
.header-search-inner .header-search-close-btn{position:absolute; top:0px; right:0px; color:#fff; }
.header-search-inner .header-search-close-btn i{font-size:24px;}
.header-search-box.open .header-search-overlay{top:0px;}
.header-search-box.open .header-search-inner{opacity:1.0;filter:Alpha(opacity=100);}

@media all and (max-width:1120px){
	.header-search-inner{margin: 0 20px;}
}
@media all and (max-width:800px){
	.header-search-overlay{background-color:rgba(0,0,0,0.9);}
	.header-search-inner {height: 46px;}
	.header-search-inner .header-search-inner-box {height: 40px; padding-right: 120px;}
	.header-search-inner .header-search-word {height: 40px; width: 100%; font-size: 17px;}
	.header-search-inner .header-search-word::placeholder{line-height: 40px;}
	.header-search-inner .header-search-btn-controls span {font-size: 13px; letter-spacing: 1px;}
	.header-search-inner .header-search-btn {width: 46px; height: 46px;}
	.header-search-inner .header-search-btn-controls i {font-size: 29px;}
	
	.header-search-close-btn{width: 46px; height: 46px;}
	.header-search-inner .header-search-close-btn {top: 10px; right: 10px;}
}